[Desktop Entry]
Version=1.0
Type=Application
Name=Folder Cleaner
Comment=Sort Your Files in Folders
Exec=/usr/bin/python3 Your/Path/to/the/Folder/main.py
Icon=system-file-manager
Terminal=false
Categories=Utility;
Path=Your/Path/to/the/Folder